.box1{
  border: 30px solid blue;
}

.box2{
  border: 30px solid red;
}

.box3{
  border: 30px solid green;
}

.img-size{
  width: 200px;
  height: 50px;
} //넓이 높이

.margin-space{
  margin-top: 20px;
}

.padding-space{
  padding-top: 50px;
}

.text{
  text-align: center;
}

.visible {
  visibility: hidden;
}